:root {
  --background-primary: rgba(228, 179, 195, 0.1);
}
body {
  font-family: "Comfortaa", cursive;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Raleway", sans-serif;
}
h3 {
  font-size: 30px;
  font-weight: bold;
}
.intro {
  margin: 30px 30px 30px 10px;
  line-height: 60px;
  border: 0px solid grey;
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
  border-radius: 5px;
  font-size: 30px;
  padding: 20px;
  background: var(--background-primary);
}

.nav-link {
  color: black;
}
#navbar {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.name-anna {
  font-size: 50px;
  font-weight: 900;
}
.photo-main {
  padding-left: 10px;
  display: block;
  vertical-align: top;
  max-width: 100%;
}
.certificate-image,
.contacts-image {
  padding-left: 10px;
  display: block;
  vertical-align: top;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
}
.photo-author {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
  vertical-align: top;
}
.projects {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.projects-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 900px;
}
.first-line-icons,
.second-line-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}
.section-two-header {
  text-align: center;
  margin-bottom: 20px;
}
.paragraph-footer {
  margin-left: 30px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
}
.soft-skills {
  background: #fceef0;
}

.about-text {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  line-height: 30px;
  border: 0px solid grey;
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
  border-radius: 5px;
  font-size: 15px;
  padding: 60px 20px;
  background: var(--background-primary);
  max-width: 600px;
}

.footer-about,
.footer-homepage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  border: 0px solid grey;
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
  border-radius: 5px;
  text-align: justify;
  font-size: 20px;
  padding: 25px 10px;
  background: var(--background-primary);
  font-size: 30px;
  max-width: 700px;
}
.footer-about-button,
.contact-footer-button {
  width: 200px;
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
  border-color: antiquewhite;
  border-radius: 5px;
  margin-top: -15px;
  margin-left: 40px;
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
  padding: 20px;
  font-size: 16px;
}
.weather-description-block {
  display: block;
  margin: 0 auto;
  margin-top: 90px;
  line-height: 30px;
  border: 0px solid grey;
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
  border-radius: 5px;
  font-size: 20px;
  padding: 20px;
  background: var(--background-primary);
  max-width: 900px;
}
.payments-project-description {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  line-height: 30px;
  border: 0px solid grey;
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
  border-radius: 5px;
  font-size: 20px;
  padding: 20px;
  background: var(--background-primary);
  max-width: 500px;
}
.bakery-project-description {
  display: block;
  margin: 0 auto;
  line-height: 30px;
  border: 0px solid grey;
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
  border-radius: 5px;
  font-size: 20px;
  padding: 20px;
  background: var(--background-primary);
  max-width: 500px;
}

.project-image {
  padding-left: 10px;
  display: block;
  vertical-align: top;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
}

.text-contacts {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-left: -20px;
  line-height: 50px;
  border: 0px solid grey;
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
  border-radius: 5px;
  font-size: 30px;
  padding: 20px;
  background: var(--background-primary);
}
.footer-contacts {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border: 0px solid grey;
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  padding: 15px;
  background: var(--background-primary);
  font-size: 30px;
}

.project-weather {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 30px 0 0 30px;
  background-image: url(images/background.jpg);
  background-position: 50%;
  max-width: 80%;
}

form {
  margin: -10px 15px;
}

.cities {
  text-align: right;
}
.forms {
  text-align: right;
}
.city {
  text-align: left;
  padding-left: 0;
}
.datetime {
  margin-top: 0;
  line-height: 2px;
}
.maindegrees {
  font-size: 55px;
  margin-left: 5px;
}
.currentweather {
  font-size: 24px;
  line-height: 10px;
  margin-left: 5px;
}

.author {
  text-align: center;
  font-size: 12px;
  margin: 10px 2px 0px 10px;
  color: white;
}

.degreeicons {
  font-size: 18px;
  position: relative;
  top: -25px;
  left: -10px;
}

.parameters {
  text-align: right;
  font-size: 16px;
  display: grid;
  position: relative;
  top: -50px;
}

.maindegrees .active {
  cursor: default;
  color: black;
  text-decoration: none;
}
.maindegrees .active:hover {
  text-decoration: none;
}
.image-color {
  color: aquamarine;
  background: #7c515a;
  border-radius: 5px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 18px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 18px;
}
.col-sm-2 {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 5px 0 5px;
  color: white;
  background: #9b5d60;
  opacity: 0.7;
  font-weight: bold;
  width: 150px;
}

.search {
  display: flex;
  justify-content: right;
  margin-right: -10px;
}
#mainSearch {
  width: 120px;
}
.parameters {
  list-style: none;
}
