:root {
  --background-primary: rgba(228, 179, 195, 0.1);
}
body {
  font-family: "Comfortaa", cursive;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Raleway", sans-serif;
}
h3 {
  font-size: 30px;
  font-weight: bold;
}
.intro {
  margin: 30px 30px 30px 10px;
  line-height: 60px;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
  border-radius: 5px;
  font-size: 30px;
  padding: 20px;
  background: var(--background-primary);
}

.nav-link {
  color: black;
}
#navbar {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.name-anna {
  font-size: 50px;
  font-weight: 900;
}
#photo-main {
  margin-top: 30px;
  padding-left: 10px;
  max-width: 50%;
  display: block;
}
#photo-author {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
  margin-top: 50px;
}
.projects {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.projects-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 900px;
}
.first-line-icons,
.second-line-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}
.section-two-header {
  text-align: center;
  margin-bottom: 20px;
}
.paragraph-footer {
  margin-left: 30px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
}
.skills {
  font-size: 20px;
}

.about-intro {
  display: block;
  margin: 0 auto;
  margin-top: 90px;
  line-height: 30px;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
  border-radius: 5px;
  font-size: 30px;
  padding: 20px;
  background: var(--background-primary);
  max-width: 900px;
}
.about-text {
  display: block;
  margin: 0 auto;
  margin-left: 30px;
  margin-top: 50px;
  line-height: 30px;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
  border-radius: 5px;
  font-size: 15px;
  padding: 100px 20px;
  background: var(--background-primary);
  max-width: 600px;
}
.certificate {
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
}
.footer-about,
.footer-homepage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
  border-radius: 5px;
  text-align: justify;
  font-size: 20px;
  padding: 15px;
  background: var(--background-primary);
  max-width: 1000px;
  font-size: 30px;
}
.footer-about-button,
.contact-footer-button {
  width: 200px;
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
  border-radius: 5px;
  margin-left: 40px;
  box-shadow: 2px 2px 2px 1px rgb(127, 132, 135);
  padding: 20px;
  font-size: 16px;
}
